---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pomodoro">
  <h1 class="text-4xl font-semibold">POMODORO</h1>
  <h2>Esto es un subtítulo</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius sunt, quo
    ipsum harum minima quas ullam maiores optio tenetur culpa impedit
    reprehenderit fuga voluptatum aperiam fugit perferendis nesciunt nostrum
    earum?
  </p>
</Layout>
