---
import Layout from "../layouts/Layout.astro";
import WrapperMinutes from "../components/(timer)/WrapperMinutes";
---

<Layout title="Pomodoro">
  <h1 class="text-4xl font-semibold text-center select-none">POMODORO</h1>
  <WrapperMinutes client:visible />
</Layout>
