---
import Layout from "../layouts/Layout.astro";
import Minutes from "../components/Minutes";
---

<Layout title="Pomodoro">
  <h1 class="text-4xl font-semibold text-center">POMODORO</h1>
  <section class="my-10">
    <Minutes client:visible title="estudio" minutes={[15, 25, 30, 50]} />
    <Minutes client:visible title="descanso" minutes={[5, 10, 15]} />
  </section>
</Layout>
