---
import Heart from "../assets/svgs/Heart";
---

<footer class="absolute bottom-0 h-10">
  <p>
    Hecho con <Heart width={20} height={20} /> por
    <a
      class="underline"
      href="https://linktr.ee/fakuortiz"
      target="_blank"
      title="Linktree de Facundo Ortiz">Facundo Ortiz</a
    >
  </p>
</footer>
