---
import Heart from "../assets/svgs/Heart";
---

<footer class="absolute bottom-0 h-10">
  <p>
    Hecho con <Heart width={20} height={20} /> por
    <a class="underline" href="https://www.linkedin.com/in/fakuortiz/" target="_blank" title="LinkedIn"
      >Facundo Ortiz</a
    >
  </p>
</footer>
