---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/(header)/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Pomodoro app" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body  class="font-montse p-4 flex flex-col items-center">
    <Header />
    <main class="p-4 flex flex-col items-center">
      <slot />
    </main>
  </body>
</html>

<style is:global>
:root[data-theme="light"] {
  --primary: #e7e6f7;
  --secondary: #0e273c;
}

:root[data-theme="dark"] {
  --primary: #0e273c;
  --secondary: #e7e6f7;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
}

</style>